html {
    scroll-behavior: smooth;
}

body {
    background-color: #3e0000;
    font-family: monospace;
    position: relative;
    min-height: 100%;
}

.header {
    width: 100%;
    animation: slideDown 0.4s ease forwards;
    mask-image: linear-gradient(to top,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 10%);
}

.header-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 10;
}

@keyframes slideDown {
    from {
        transform: translateY(-150px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

a {
    text-decoration: none;
    color: #2c2c2c;
}

a:hover {
    color: #ff4e45;
}

a:visited {
    color: #45000075;
}

.footer {
    width: 100%;
    mask-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 5%);
    animation: appear 0.4s ease forwards;
    animation-timeline: view();
    animation-range: 0% 20%;
}

.footer a {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.foot {
    padding-top: 3%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    height: 200px;
}


.social-icon {
    max-width: 30px;
    height: auto;
}

.social-icon:hover {
    transform: scale(1.4);
    transition: transform 0.3s ease;
}

.main-content {
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5%;
    background-color: #f8f9fa;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.btn-primary {
    background-color: #a50000;
    border-color: #820000;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.36);
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.btn-primary:hover {
    background-color: #820000;
    border-color: #6b0000;
    box-shadow: inset 0 0 10px rgba(19, 19, 19, 0.36);
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

a-waves {
    --x: -0.5rem;
    --y: 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: #151515 1px solid;
    z-index: -1;
}

a-waves:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 0.5rem;
    height: 0.5rem;
    background: #160000;
    border-radius: 50%;
    transform: translate3d(calc(var(--x) - 50%), calc(var(--y) - 50%), 0);
    will-change: transform;
    content: "";
}

a-waves svg {
    width: 100%;
    height: 100%;
}

a-waves svg path {
    fill: none;
    stroke: #160000;
    stroke-width: 1px;
}

.navbar-nav .nav-link {
    color: #000;
    font-size: 1rem;
}

.navbar-nav .nav-link:hover {
    color: #ff4e45;
}

.navbar-brand img {
    width: 160px;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar-collapse {
    justify-content: center;
}

.tog1,
.tog2,
.tog3 {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    align-content: end;
}

.change .tog1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .tog2 {
    opacity: 0;
}

.change .tog3 {
    transform: translate(0, -11px) rotate(45deg);
}

.navbar-toggler.change .tog1,
.navbar-toggler.change .tog2,
.navbar-toggler.change .tog3 {
    align-items: end;
    justify-content: end;
    margin-right: 0;
}

.navbar {
    padding-top: 2%;
    padding-bottom: 3%;
    padding-left: 2%;
    padding-right: 2%;
}

.navbar-text {
    justify-content: end;
    align-items: end;

}

.slogan-text {
    font-size: 12px;
    opacity: 0.7;
    white-space: nowrap;
    line-height: 1; /* Assicura che la linea di testo stia compatta */
    margin-bottom: 3px;
  }

@media (max-width: 767.98px) {
    .slogan-text {
        display: none !important;
    }

    .navbar-brand img {
        width: 120px;
    }
}


