<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Log in</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Nome Sito</h1>
        </div>
        <div class="layout">
            <div class="navbar">
                <ul>
                    <li>Voce 1 prova</li>
                    <li>Voce 2 prova</li>
                    <li>Voce 3 prova</li>
                </ul>
            </div>
            <div class="main-content">
                <form action="" method="post" enctype="multipart/form-data">
                    <table>
                        <tr>
                            <td>Nome Utente<input type="text" name="username" id="username"></td>
                        </tr>
                        <tr>
                            <td>Password<input type="password" name="password" id="password"></td>
                        </tr>
                        <tr>
                            <td><button>Invia</button></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="footer">
            Footer
        </div>
    </div>
</body>
</html>